<div class="col-sm-3 offset-sm-1 blog-sidebar">
  <div class="sidebar-module sidebar-module-inset">
    <h4>About</h4>
    <p>I attend Utah Valley University studying Computer Science. I work at Gadzoom.net as an iOS Developer</p>
  </div>

  <div class="sidebar-module">
    <h4>Elsewhere</h4>
    <ol class="list-unstyled social-links">
      <li><a href="https://www.linkedin.com/in/maxwellnelson/"><%= fa_icon "linkedin" %></a></li>
      <li><a href="https://github.com/Maxnelson997"><%= fa_icon "github" %></a></li>
      <li><a href="https://stackoverflow.com/users/3778273/max-nelson"><%= fa_icon "stack-overflow" %></a></li>
      <li><a href="https://www.instagram.com/superdupermaxwellsue/"><%= fa_icon "instagram" %></a></li>
      <li><a href="https://www.youtube.com/MAXNELSON"><%= fa_icon "youtube" %></a></li>
      <li><a href="https://twitter.com/MaximusAsher"><%= fa_icon "twitter" %></a></li>
    </ol>
  </div>
</div>