<div class="<%= location %> navlinks">
	<div class="container">
		<div class="row">
			<div class="col-md-7">
			  <div><%= link_to "Home", root_path %></div>
			  <div><%= link_to "About Ur Boi Max", about_me_path %></div>
			  <div><%= link_to "Contact", contact_path %></div>
			</div>
			<div class="col-md-5">
			  <div><%= link_to "Blog", blogs_path %></div>
			  <div><%= link_to "Portfolio", portfolios_path %></div>
			</div>
		</div>
	</div>
</div>