<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" %>
    <meta name="keywords" content="<%= @seo_keywords %>" />

    <!--https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css-->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p>This 'P' tag is in the application.html.erb file in view/layouts. Stuff in this file will show on errrr page mate.</p>
    <p class = "notice"><%= notice %></p>
    <p class = "alert"><%= alert %></p>
    
  <%= render "shared/nav", location: 'top'%>
    
  <%= login_helper %>
  
    <!--Yield INJECTS code from other files/templates, such as edit.html.erb on blogs or portfolios, or home.html.erb, or any other template! Dope ASF!-->
    <%= yield %>
    
    <%= source_helper("application") %>
  </body>
</html>
