<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title %></title>
    <%= csrf_meta_tags %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="<%= @seo_keywords %>" />
    <%= favicon_link_tag 'favicons/favicon.ico' %>
    <%= stylesheet_link_tag 'animations' %>
    <!--https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css-->
    <link href="https://fonts.googleapis.com/css?family=Rajdhani" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <%= render "shared/application_nav" %>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <%= video_tag(
          'code.mp4',
          id: 'background',
          autoplay: true,
          loop: true,
          muted: true,
          poster: 'code.jpg'
        )
        %>

        <%= yield %>
      </div>

    </div>
    <div class="row">
      <div class="col-md-12 py-12">
        <%= render "shared/application_footer" %>

        <%= alerts %>
      </div>
    </div>
  </div>
  </body>
</html>
